body {
    font-family: 'Arial'; 
    margin: 0;
    padding: 5;
    box-sizing: border-box;
    background-color: #593bff;
    text-align: center;
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: span 2;
    gap: 20px;
    justify-content: space-around;
    background-color: #5f2f04;
    width: auto;
    height: auto;
    position: relative;
    border: 30px solid #321801;
}

.box1 {
    background-color: #880984;
    border: 2px solid #27d43b;
    border-style: groove;
    border-width: 10px;
    left: 2px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

.box2 {
    background-color: #ffea04;
    border: 2px solid #000000;
    border-style: groove;
    border-width: 10px;
    left: 2px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@keyframes myAnimation {
    0% { background-color: #f53319; }
    50% { background-color: #206ad1; }
    75% { background-color: #f32f28; }
    100% { background-color: #206ad1; }
}
